<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 px-0">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                  <div class="carousel-item active ">
                    <img src="../../assets/images/piscine-2.jpeg" class="d-block w-100" alt="..." style="max-height: 400px !important">
                    <div class="carousel-caption d-md-block d-flex align-items-center mt-3 h-75">
                        <h1 class="text-white display-1 fw-bold h-100">A propos de nous</h1>
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 text-center my-3 ">
            <p class="text-uppercase mt-5">A propos de nous</p>
            <h2>Qui sommes-nous ?</h2>
            <div class="surligned"></div>

            <p class="text-md-start">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                <br> <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                <br> <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maxime sit nulla!
            </p>

        </div>

    </div>
</div>


<app-references></app-references>
<app-map></app-map>
